.cart-page-main {
    min-height: 100vh;
}

.cart-product-card {
    border: 1px solid gray;
}

.cart-price-details-card{
    border: 1px solid gray;
}


.cart-product-card img {
    object-fit: contain;
}

.btn-disabled {
    cursor: not-allowed;
    background-color: lightgray;
}

.btn-qty {
    background-color: gray;
}